* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color:#4e350f;
    font-family: Arial, Helvetica, sans-serif;
}

header {
   background-color:#4e350f;
}

.logo-contenedor {
    width: 100px;
    margin: auto;
    text-align: center;
}

.Logos-RedesSociales {
    width: 60px;
    margin: auto;
    text-align: center;
    align-items: center;
    display: flex;
}

h1 {
    color:rgb(255, 255, 255);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
}

nav {
  height: 80px;
  background-color:rgb(37, 23, 0);
  text-align: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav ul {
   list-style: none;
   display: inline-block;
   padding: 18px;
}

nav ul li{
    float: left;
    margin-top: 20px;
}

nav ul li a {
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    padding: 18px;
}

nav ul li a:hover {
  background-color: rgb(161, 134, 92);
}

img {
    width: 70%;
    padding: 7%;
}
    
.Article {
    width: 100%;
    height: 200vh;
    background-color:rgb(161, 134, 92);
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.TituloDelArticulo {
    font-size: 2em;
    color:#3f280b;
    margin-top: 90px;
}

.Descripcion {
    font-size: 1.25em;
    width: 80%;
    text-align: center;
    margin: 2em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Galery {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Box-Galery {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.Box-Img1 {
    width: 100%;
    height: 80%;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Box-Img2 {
    width: 100%;
    height: 80%;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -100px;
}

.Btn-Img {
    background-color: hsl(34, 100%, 14%);
    text-decoration: none;
    padding: 1em 4em;
    color: #a08766;
    font-size: 1.25em;
    margin: 4em 0;
    border-radius: 0.5em;
    margin-top: -80px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.OtroTitulo {
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
}

.Recomendaciones {
    color:#4e350f;
    text-align: center;
    padding-top: 90px;
    padding-bottom: 90px;
    margin-bottom: 30px;
    margin-top: 30px;
    background-color:#a7865c;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.List {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #a7865c;
    padding: 0em 0.2em;
    margin-top: 0em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Btn-Img2 {
    background-color: #5f4626;
    text-decoration: none;
    padding: 0.5em 2em;
    color: #a08766;
    font-size: 1em;
    margin: 1em 0;
    border-radius: 0.5em
}

.Btn-Img3 {
    
    background-color: #5f4626;
    text-decoration: none;
    padding: 0.5em 2em;
    color: #a08766;
    font-size: 1em;
    margin: 1em 0;
    border-radius: 0.5em
}

.Container {
    max-width: 1200px;
    margin: 0% auto;
}

Footer {
    padding: 100px 0 50px 0;
    background-color: rgb(37, 23, 0);
}

.Footer-Link {
    display: flex;
}

.Link {
    width: 300px;
}

.Link h3 {
    font-size: 18px;
    color: #a08766;
    font-family: 'Courier New', Courier, monospace;
}

.Link a {
    font-size: 17px;
    color: #58401f;
    display: block;
    margin-bottom: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Link a:hover {
    color: #a08766;
}

.Link2 a:hover {
    color: #a08766;
}

.Redes-Sociales1 {
    display: flex;
    margin-bottom: 50px;
}

.color {
    color: #a08766;
}
